*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#020611;
font-family:'Poppins',sans-serif;
overflow:hidden;
color:white;
height:100vh;
}

#overlay{
position:fixed;
width:100%;
height:100%;
background:radial-gradient(circle,#0f234d 0%,#020611 100%);
z-index:-2;
}

#stars{
position:fixed;
width:100%;
height:100%;
background-image:
radial-gradient(white 1px,transparent 1px),
radial-gradient(white 1px,transparent 1px);
background-size:70px 70px,120px 120px;
background-position:0 0,35px 35px;
animation:starsMove 70s linear infinite;
opacity:.7;
z-index:-1;
}

@keyframes starsMove{

from{
transform:translateY(0);
}

to{
transform:translateY(700px);
}

}

.center{
position:absolute;
left:50%;
top:50%;
transform:translate(-50%,-50%);
text-align:center;
}

#startBtn{

padding:18px 45px;
font-size:20px;
border:none;
border-radius:50px;
background:#ff3d7a;
color:white;
cursor:pointer;
transition:.35s;
box-shadow:0 0 25px #ff3d7a;

}

#startBtn:hover{

transform:scale(1.08);

}

.hide{

display:none;

}

#story{

width:100%;
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;

}

.scene{

position:absolute;
width:90%;
text-align:center;
opacity:0;
transition:1.5s;

}

.scene.active{

opacity:1;

}

.text{

font-size:2.2rem;
font-weight:600;
text-shadow:0 0 18px rgba(255,255,255,.6);

}

.love{

font-size:4rem;
font-family:'Great Vibes',cursive;
color:#ff5a8e;
text-shadow:
0 0 15px #ff5a8e,
0 0 35px #ff5a8e,
0 0 60px #ff5a8e;

}

.sub{

margin-top:15px;
font-size:1.4rem;
letter-spacing:2px;

}

.letter{

max-width:750px;
padding:25px;

}

.letter h1{

margin-bottom:20px;

}

.letter p{

font-size:20px;
line-height:1.9;
margin-top:15px;

}

.sign{

margin-top:25px;
font-family:'Great Vibes',cursive;
font-size:3rem;
color:#ff5a8e;

}

.ending h1{

font-size:3rem;
margin-bottom:20px;

}

.ending h2{

font-size:2rem;
color:#ff5a8e;

}

.heart{

position:fixed;
font-size:20px;
animation:float 7s linear forwards;

}

@keyframes float{

0%{

transform:translateY(100vh) scale(.4);
opacity:0;

}

15%{

opacity:1;

}

100%{

transform:translateY(-120px) scale(1.6);
opacity:0;

}

}

@media(max-width:768px){

.text{

font-size:1.55rem;

}

.love{

font-size:3rem;

}

.letter p{

font-size:17px;

}

.ending h1{

font-size:2rem;

}

}